{% extends "base.html" %}

{% block title %} Main page {% endblock %}

{% block content %}
<div>
    <h1>IoT Gateway Dashboard</h1>
    <p>Real-time monitoring and management</p>
</div>
<div id="sensorData">

</div>
<div>
        Mqtt:
            - Uptime (how long it has been running)
            - Active connections?
            - Mqtt version and details 
</div>
<div>
        Connected devices:
            - Devices id and names
            - Connection status
            - ips?
</div>
<div>
        Sensor data:
            - Real-time readings
            - Historical data for sensors
            - Graphs or charts
</div>
<div  class="container">
    <h2>Server System health</h2>
    <p>System information about the Raspberry pi 5 server</p>
    <div class="card">
        <h3>Memory Information</h3>
        <ul>
            <li>
                <b>Total Memory: </b>
                {{system_info['Memory']['Total Memory']}}
            </li>
            <li> 
                <b>Available Memory</b> 
                {{system_info['Memory']['Available Memory']}}
            </li>
            <li> 
                <b>Used Memory</b> 
                {{system_info['Memory']['Used Memory']}}
            </li>
            <li>
                <b>Memory Usage</b> 
                {{system_info['Memory']['Memory Usage']}}
            </li>
        </ul>
    </div>
    <div class="card">
        <h3>Disk Information</h3>
        <ul>
            <li>
                <b>Total Disk Space: </b>
                {{system_info['Disk']['Total Disk Space']}}
            </li>
            <li>
                <b>Used Disk Space: </b>
                {{system_info['Disk']['Used Disk Space']}}
            </li>
            <li>
                <b>Free Disk Space: </b>
                {{system_info['Disk']['Free Disk Space']}}
            </li>
            <li>
                <b>Disk Usage: </b>
                {{system_info['Disk']['Disk Usage']}}
            </li>
        </ul>
    </div>
    <div class="card">
        <h3>CPU Information</h3>
        <ul>
            <li>
                <b>Usage: </b>
                {{system_info['CPU']['Usage']}}
            </li>
            <li>
                <b>Current temp: </b>
                {{system_info['CPU']['Current']}}
            </li>
            <li>
                <b>High temp: </b>
                {{system_info['CPU']['High']}}
            </li>
            <li>
                <b>Critical Temp: </b>
                {{system_info['CPU']['Critical']}}
            </li>
        </ul>
    </div>
</div>
<div>
        Control panel:
            - basic controls, restart
            - update firmware and configs
</div>
<div>
        Logs and events:
</div>
<div>
        custom user interface
</div>
<div id="sensorData"></div>
 <script>
        urlTest();
        // Function to fetch sensor data
        function fetchData() {
            fetch('/test')
                .then(response => response.json())
                .then(data => {
                    const sensorDataDiv = document.getElementById('sensorData');
                    sensorDataDiv.innerHTML = ''; // Clear previous data
                    for (const [topic, value] of Object.entries(data)) {
                        const dataElement = document.createElement('div');
                        dataElement.className = 'data';
                        dataElement.innerText = `${topic}: ${value}`;
                        sensorDataDiv.appendChild(dataElement);
                    }
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        // Fetch data every 2 seconds
        setInterval(fetchData, 5000);
    </script>   
{% endblock %}