{% extends "base.html" %}

{% block title %} Main page {% endblock %}

{% block content %}
<div>
    <h1>IoT Gateway Dashboard</h1>
    <p>Some stuff</p>
</div>
<div id="sensorData">

</div>
<div>
        Mqtt:
            - Uptime (how long it has been running)
            - Active connections?
            - Mqtt version and details 
</div>
<div>
        Connected devices:
            - Devices id and names
            - Connection status
            - ips?
</div>
<div>
        Sensor data:
            - Real-time readings
            - Historical data for sensors
            - Graphs or charts
</div>
<div>
        Pi system health:
            - cpu and memory usage
            - disk usage and available storage
            - system temp
</div>
<div>
        Control panel:
            - basic controls, restart
            - update firmware and configs
</div>
<div>
        Logs and events:
</div>
<div>
        custom user interface
</div>
<div id="sensorData"></div>
 <script>
        urlTest();
        // Function to fetch sensor data
        function fetchData() {
            fetch('/test')
                .then(response => response.json())
                .then(data => {
                    const sensorDataDiv = document.getElementById('sensorData');
                    sensorDataDiv.innerHTML = ''; // Clear previous data
                    for (const [topic, value] of Object.entries(data)) {
                        const dataElement = document.createElement('div');
                        dataElement.className = 'data';
                        dataElement.innerText = `${topic}: ${value}`;
                        sensorDataDiv.appendChild(dataElement);
                    }
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        // Fetch data every 2 seconds
        setInterval(fetchData, 5000);
    </script>   
{% endblock %}